.side-menu
{ border-radius: 0.25em; }

.flex-body
{ flex-direction: column; }

.is-rounded
{ border-radius: 0.25em; }

.is-margin-auto
{ margin: auto; }

.side-menu .menu-label
{
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.p-sm { padding: 0.25em; }
.p-md { padding: 0.5em; }
.p-lg { padding: 1em; }

.m-sm { margin: 0.25em; }
.m-md { margin: 0.5em; }
.m-lg { margin: 1em; }

.pixilize img 
{ 
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

#item-image { border: 0.25em solid; }
#item-image[quality-type='0'] { border-color: black; }
#item-image[quality-type='1'] { border-color: gray; }
#item-image[quality-type='2'] { border-color: white; }
#item-image[quality-type='3'] { border-color: greenyellow; }
#item-image[quality-type='4'] { border-color: greenyellow; }
#item-image[quality-type='5'] { border-color: blue; }
#item-image[quality-type='6'] { border-color: blue; }
#item-image[quality-type='7'] { border-color: purple; }
#item-image[quality-type='8'] { border-color: orange; }
#item-image[quality-type='9'] { border-color: orange; }
#item-image[quality-type='10'] { border-color: yellow; }