@using OpenRpg.Editor.Core.Services.Modal
@using OpenRpg.Editor.Infrastructure.Helpers
@using OpenRpg.Editor.UI.Extensions
@using OpenRpg.Entities.Effects
@using OpenRpg.Entities.Requirements

<ListEditor Data="Effects" OnAdded="OnAdded" OnRemoved="OnRemoved" TItem="IEffect">
    <HeaderTemplate>
        <th><abbr title="Effect Type">Effect Type</abbr></th>
        <th><abbr title="Potency">Potency</abbr></th>
        <th><abbr title="Requirements">Requirements</abbr></th>
    </HeaderTemplate>
    <ButtonOverrideTemplate>
        <div class="dropdown @(IsDropdownActive ? "is-active" : "")" @onclick="() => IsDropdownActive = !IsDropdownActive">
            <div class="dropdown-trigger">
                <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span>Add Effect</span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <a class="dropdown-item" @onclick="x => context.InvokeAsync(new StaticEffect())">Add Static Effect</a>
                    <a class="dropdown-item" @onclick="x => context.InvokeAsync(new ScaledEffect())">Add Scaled Effect</a>
                </div>
            </div>
        </div>
    </ButtonOverrideTemplate>
    <RowTemplate>
        <td>
            <div class="control">
                <div class="select is-fullwidth">
                    <select @bind="context.EffectType">
                        @foreach (var effectType in TypesHelper.GetEffectTypes)
                        {
                            <option value=@effectType.Id>@effectType.Name</option>
                        }
                    </select>
                </div>
            </div>
        </td>
        <td>
            <div class="control">
                @if (context is StaticEffect staticEffect)
                {
                    <input class="input" type="text" @bind="staticEffect.Potency"/>
                }
                @if (context is ScaledEffect scaledEffect)
                {
                    <button class="button is-info is-fullwidth" @onclick="x => { SetCurrentEffect(scaledEffect); ShowScalingModal(); }">
                        <span>Edit Potency Scaling</span>
                    </button>
                }
            </div>
        </td>
        <td>
            <button class="button is-info is-fullwidth" @onclick="x => { SetCurrentEffect(context); ShowRequirementModal(); }">
                    <span class="tag mr-3">
                        @context.Requirements.Count
                    </span>
                <span>Edit Requirements</span>
            </button>
        </td>
    </RowTemplate>
</ListEditor>

<ModalContent Id="effect-requirement-modal" @ref="EditRequirementModal">
    <DynamicContentModal OnClosed="ModalService.CloseModal">
        @if (CurrentEffect != null)
        {
            <RequirementsEditor Requirements="CurrentEffect.Requirements" OnAdded="AddRequirement" OnRemoved="RemoveRequirement" />
            
        }
    </DynamicContentModal>
</ModalContent>

<ModalContent Id="effect-scaling-modal" @ref="EditScalingModal">
    <DynamicContentModal OnClosed="ModalService.CloseModal">
        @if (CurrentEffect != null && CurrentEffect is ScaledEffect scaledEffect)
        {
            <ScaledEffectEditor ScaledEffect="scaledEffect" /> 
        }
    </DynamicContentModal>
</ModalContent>

@functions {
    [CascadingParameter]
    public IModalInteractionService ModalService { get; set; }
    
    [Parameter]
    public IReadOnlyCollection<IEffect> Effects { get; set; }

    [Parameter]
    public EventCallback<IEffect> OnAdded { get; set; }
    
    [Parameter]
    public EventCallback<IEffect> OnRemoved { get; set; }
    
    public IEffect CurrentEffect { get; set; }

    bool IsDropdownActive { get; set; }
    bool IsRequirementModalActive { get; set; }
    bool IsScalingModalActive { get; set; }
    
    public ModalElementReference EditRequirementModal { get; set; }
    public ModalElementReference EditScalingModal { get; set; }

    void ShowRequirementModal() => ModalService.ShowModal(EditRequirementModal.Reference);
    void ShowScalingModal() => ModalService.ShowModal(EditScalingModal.Reference);

    public void SetCurrentEffect(IEffect effect)
    {
        CurrentEffect = effect;
        CurrentEffect.Requirements = CurrentEffect.Requirements.ToList();
        StateHasChanged();
    }

    public void AddRequirement(Requirement newRequirement)
    { CurrentEffect.Requirements = CurrentEffect.Requirements.Add(newRequirement); }

    public void RemoveRequirement(Requirement removedRequirement)
    { CurrentEffect.Requirements = CurrentEffect.Requirements.Remove(removedRequirement); }
}
