@using OpenRpg.Editor.Infrastructure.Helpers
@using OpenRpg.Entities.Modifications
@using OpenRpg.Entities.Requirements

<ListEditor Data="ModificationAllowances" OnUpdate="OnUpdate" TItem="ModificationAllowance">
    <HeaderTemplate>
        <th><abbr title="Modification Type">Allowance Type</abbr></th>
        <th><abbr title="Allowed Amount">Allowed Amount</abbr></th>
    </HeaderTemplate>
    <RowTemplate>
        <td>
            <div class="control">
                <div class="select is-fullwidth">
                    <select bind="@context.ModificationType">
                        @foreach (var modificationType in TypesHelper.GetModificationTypes)
                        {
                            <option value=@modificationType.Id>@modificationType.Name</option>
                        }
                    </select>
                </div>
            </div>
        </td>
        <td>
            <div class="control">
                <input class="input" type="text" bind="@context.AmountAllowed" />
            </div>
        </td>
    </RowTemplate>
    <NestedRowTemplate>
        <Accordion Title="Modification Allowance Requirements" HeaderClasses="is-info">
            <RequirementsEditor Requirements="context.Requirements" OnUpdate="requirements => UpdateRequirements(context, requirements)">
            </RequirementsEditor>
        </Accordion>
    </NestedRowTemplate>
</ListEditor>

@functions {
    [Parameter]
    public IEnumerable<ModificationAllowance> ModificationAllowances { get; set; }
    
    [Parameter]
    public EventCallback<List<ModificationAllowance>> OnUpdate { get; set; }
    
    public void UpdateRequirements(ModificationAllowance currentModification, IReadOnlyCollection<Requirement> updatedRequirements)
    {
        currentModification.Requirements = updatedRequirements;
        StateHasChanged();
    }
}
