@using OpenRpg.Editor.Infrastructure.Helpers
@using OpenRpg.Quests

<ListEditor Data="Objectives" OnAdded="OnAdded" OnRemoved="OnRemoved" TItem="Objective">
    <HeaderTemplate>
        <th><abbr title="Objective Type">Objective Type</abbr></th>
        <th><abbr title="Associated Id">Associated Id</abbr></th>
        <th><abbr title="Associated Value">Associated Value</abbr></th>
    </HeaderTemplate>
    <RowTemplate>
        <td>
            <div class="control">
                <div class="select is-fullwidth">
                    <select bind="@context.ObjectiveType">
                        @foreach (var objectiveType in TypesHelper.GetObjectiveTypes)
                        {
                            <option value=@objectiveType.Id>@objectiveType.Name</option>
                        }
                    </select>
                </div>
            </div>
        </td>
        <td>
            <div class="control">
                <input class="input" type="text" bind="@context.AssociatedId" />
            </div>
        </td>
        <td>
            <div class="control">
                <input class="input" type="text" bind="@context.AssociatedValue" />
            </div>
        </td>
    </RowTemplate>
</ListEditor>

@functions {
    [Parameter]
    public IReadOnlyCollection<Objective> Objectives { get; set; }
    
    [Parameter]
    public EventCallback<Objective> OnAdded { get; set; }
    
    [Parameter]
    public EventCallback<Objective> OnRemoved { get; set; }
}
