version: 0.8.{build}
branches:
  only:
  - master
  - build-test
image: Previous Visual Studio 2017
configuration: Release
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'
before_build:
- cmd: nuget restore src/OpenRpg.sln
build:
  project: src/OpenRpg.sln
  publish_nuget: true
  verbosity: minimal
artifacts:
  - path: '**\*.nupkg'
deploy:
  provider: NuGet
  on:
    APPVEYOR_REPO_TAG: true
  server:
  api_key:
    secure: gHlPdTzhvBk5R5dT1mkc7ZzxhUzJI4rWVaRIvNSZiiR3tVuaX6Ma3y6t3/iMkEvk
  skip_symbols: true
  symbol_server:
  artifact: /.*\.nupkg/