@inherits LayoutComponentBase
<section class="hero is-dark is-fullheight">
    <div class="hero-body">
        <div class="container is-fluid">
            <div class="columns">
              <div class="column is-one-fifth">
                <NavMenu/>
              </div>
              <div class="column">
                @Body
              </div>
            </div>
        </div>
    </div>
</section>