<CardSection>
    <aside class="menu">
        <p class="menu-label">Overview</p>
        <ul class="menu-list">
            <li><NavLink href="overview/basics" ActiveClass="is-active">Basics</NavLink></li>
            <li><NavLink href="overview/common-components" ActiveClass="is-active">Common Components</NavLink></li>
        </ul>
        <p class="menu-label">Entities/Characters</p>
        <ul class="menu-list">
            <li><NavLink href="entities/basic-components" ActiveClass="is-active">Basic Entity</NavLink></li>
            <li><NavLink href="entities/stats-components" ActiveClass="is-active">Stats Components</NavLink></li>
            <li><NavLink href="entities/stat-populators" ActiveClass="is-active">Partial/Stats Populators</NavLink></li>
            <li><NavLink href="entities/advanced-stats" ActiveClass="is-active">Advanced Stats</NavLink></li>
            <li><NavLink href="entities/default-character" ActiveClass="is-active">Default Entity</NavLink></li>
            <li><NavLink href="entities/builder" ActiveClass="is-active">Character Builder</NavLink></li>
            <li><NavLink href="entities/persistence" ActiveClass="is-active">Character Persistence</NavLink></li>
        </ul>
        <p class="menu-label">Items</p>
        <ul class="menu-list">
            <li><NavLink href="items/basic-components" ActiveClass="is-active">Basic Components</NavLink></li>
            <li><NavLink href="items/item-requirements" ActiveClass="is-active">Items & Requirements</NavLink></li>
        </ul>

        <p class="menu-label">Inventory</p>
        <ul class="menu-list">
            <li><NavLink href="inventory/basic-components" ActiveClass="is-active">Basic Components</NavLink></li>
        </ul>
        
        <p class="menu-label">Trade Skills</p>
        <ul class="menu-list">
            <li><NavLink href="trade-skills/basic-components" ActiveClass="is-active">Trade Skill Components</NavLink></li>
            <li><NavLink href="trade-skills/gathering" ActiveClass="is-active">Gathering</NavLink></li>
        </ul>
        
        <p class="menu-label">Quests</p>
        <ul class="menu-list">
            <li><NavLink href="quests/basic-components" ActiveClass="is-active">Basic Components</NavLink></li>
        </ul>

        <p class="menu-label">Combat</p>
        <ul class="menu-list">
            <li><NavLink href="combat/damages" ActiveClass="is-active">Damages, Defenses & Attack Components</NavLink></li>
            <li><NavLink href="combat/attacking" ActiveClass="is-active">Attacking</NavLink></li>
            <li><NavLink href="combat/defending" ActiveClass="is-active">Defending</NavLink></li>
            <li><NavLink href="combat/looting" ActiveClass="is-active">Looting</NavLink></li>
            <li><NavLink href="combat/buffs" ActiveClass="is-active">Buffs/Temporary Effects</NavLink></li>
        </ul>
        
        <p class="menu-label">Cards</p>
        <ul class="menu-list">
            <li><NavLink href="cards/basic-components" ActiveClass="is-active">Card Components</NavLink></li>
        </ul>
        
        <p class="menu-label">Curves/Scaling</p>
        <ul class="menu-list">
            <li><NavLink href="curves/curve-functions" ActiveClass="is-active">Curve Functions</NavLink></li>
            <li><NavLink href="curves/create-curve" ActiveClass="is-active">Creating Curve Functions</NavLink></li>
            <li><NavLink href="curves/scaling-functions" ActiveClass="is-active">Scaling Functions</NavLink></li>
            <li><NavLink href="curves/create-scaling-function" ActiveClass="is-active">Create Scaling Function</NavLink></li>
        </ul>
        
        <p class="menu-label">Advice Engine</p>
        <ul class="menu-list">
            <li><NavLink href="advice-engine/basic-components" ActiveClass="is-active">Basic Components</NavLink></li>
            <li><NavLink href="advice-engine/agent-components" ActiveClass="is-active">Agents</NavLink></li>
            <li><NavLink href="advice-engine/applicator-components" ActiveClass="is-active">Applicators</NavLink></li>
            <li><NavLink href="advice-engine/example-setup" ActiveClass="is-active">Example Usecase</NavLink></li>
        </ul>
    </aside>
</CardSection>

@code {

}