@page "/"

<h1 class="title">
    OpenRpg Web Demo
</h1>
<p class="is-size-4">
    In most cases you would be using OpenRpg with game engines, however as it is pure .Net code it can be used anywhere, so we will be using the web as the demo medium.
</p>
<p class="is-size-4">
    So click on the button below to see examples of each part of OpenRpg, such as characters and stats, items and generation, effects and combat etc.
</p>
