<div class="card with-rounding @(string.IsNullOrEmpty(customClasses) ? "has-background-light" : customClasses)">
    <div class="card-content">@ChildContent</div>
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string customClasses { get; set; }
}