@using OpenRpg.Genres.Fantasy.Types
@using System.Reflection
@using OpenRpg.Demos.Web.Extensions
@using OpenRpg.Entities.Effects
@using OpenRpg.Entities.Requirements
@using OpenRpg.Genres.Characters
@using OpenRpg.Genres.Extensions
@using OpenRpg.Genres.Requirements
@using OpenRpg.Localization.Data.Extensions
@using OpenRpg.Localization.Data.Repositories

@inject ILocaleRepository LocaleRepository
@inject ICharacterRequirementChecker RequirementsChecker

@if (Effects != null && Effects.Count > 0)
{
    <div class="content is-small has-text-centered">
        @foreach (var effect in Effects)
        {
            var requirementsMet = AreAllRequirementsMet(effect);
            <li style="list-style: none;">
                <span class="effect-section @(effect.IsPositiveEffect() ? "has-text-success" : "has-text-danger")">
                    <span class="@(requirementsMet ? "" : "is-strikethrough")">@(effect.GeneratePotencyText()) @GetEffectText(effect.EffectType)</span>
                    @if (HasRequirements(effect))
                    {
                        <div class="requirement-section">
                            <RequirementList Character="Character" Requirements="effect.Requirements.ToArray()"></RequirementList>
                        </div>
                    }
                </span>
            </li>
        }
    </div>
}

@code {
    [Parameter]
    public IReadOnlyCollection<IEffect> Effects { get; set; }

    [Parameter]
    public Character Character { get; set; }
    
    public string GetEffectText(int effectType)
    { return LocaleRepository.Get(LocaleDataGenerator.GetKeyFor(LocaleDataGenerator.EffectTextKey, effectType)); }

    public bool HasRequirements(IEffect staticEffect)
    {
        if (staticEffect.Requirements == null)
        { return false;}
        
        if(!staticEffect.Requirements.Any())
        { return false; }

        return true;
    }

    public bool AreAllRequirementsMet(IEffect staticEffect)
    {
        if(Character == null)
        { return true; }

        if(!HasRequirements(staticEffect))
        { return true; }

        return RequirementsChecker.AreRequirementsMet(Character, staticEffect);
    }

    public bool IsRequirementMet(Requirement requirement)
    { return RequirementsChecker.IsRequirementMet(Character, requirement); }

}