@using OpenRpg.Items
@using OpenRpg.Items.Extensions
@using OpenRpg.Items.Types
@using OpenRpg.Demos.Infrastructure.Extensions
@using OpenRpg.Genres.Characters

<figure class="item-icon image is-64x64 item-border with-rounding item-quality-@(_itemQualityTypeId)">
    <img src="images/items/@(ItemView.Template.Variables.AssetCode()).png">
    <div class="item-amount">@(_itemAmount > 0 ? $"{_itemAmount}" : "")</div>
    <div class="item-icon-summary">
        <ItemTemplateDetails ItemTemplate="@ItemView.Template" Character="Character"></ItemTemplateDetails>
    </div>
</figure>

@code {

    [Parameter]
    public ItemView ItemView { get; set; }

    [Parameter]
    public Character Character { get; set; }

    private int _itemQualityTypeId;
    private int _itemAmount;


    protected override void OnParametersSet()
    {
        if (ItemView.Instance.Variables != null && ItemView.Instance.Variables.ContainsKey(ItemVariableTypes.Amount))
        { _itemAmount = ItemView.Instance.Variables.Amount(); }
        else
        { _itemAmount = 0;}

        if (ItemView.Template.Variables.ContainsKey(ItemTemplateVariableTypes.QualityType))
        { _itemQualityTypeId = ItemView.Template.Variables.QualityType(); }

        base.OnParametersSet();
    }
}