<nav class="tabs is-boxed is-fullwidth">
    <div class="container">
        <ul>
            <li>
                <NavLink href="items">
                    Items
                </NavLink>
            </li>
            <li>
                <NavLink href="classes">
                    Classes
                </NavLink>
            </li>
            <li>
                <NavLink href="races">
                    Races
                </NavLink>
            </li>
            <li>
                <NavLink href="locales">
                    Locales
                </NavLink>
            </li>
            <li>
                <NavLink href="enemies">
                    Enemies
                </NavLink>
            </li>
            <li>
                <NavLink href="quests">
                    Quests
                </NavLink>
            </li>
        </ul>
    </div>
</nav>

@code {

}