@inherits LayoutComponentBase

<section class="hero is-dark is-fullheight">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <p class="title">
                    Editor
                </p>
            </div>
        </nav>
    </div>

    <div class="hero-body flex-body p-lg has-background-grey-dark">
        <div class="container has-text-centered">
            @Body
        </div>
    </div>

    <div class="hero-foot">
        <EditorMenu/>
    </div>
</section>