@inherits LayoutComponentBase

<section class="hero is-dark is-fullheight">
    <div class="hero-head has-background-grey-dark">
        <div class="container is-fluid">
            <TopMenu/>
        </div>
    </div>

    <div class="hero-body is-align-items-stretch">
        <div class="container is-fluid has-text-centered">
            @Body
        </div>
    </div>
</section>